{% load widget_tweaks %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>スレリプ作成</title>
    <meta name="description" content="横市生の悩み雑談えとせとらを解決">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>

 <div class="container col-lg-6 offset-lg-3">

    <!---記事タイトルを表示-->
    <h2 class="titleline"><span>{{ thread.title }}</span></h2>
    <form action="" method="POST" id="comment-form">

        {{ form.non_field_errors }}

        <!--フォームの各フィールドを取り出す-->
        {% for field in form %}
        <div class="field">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}

            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="row my-3">
            <button type="submit" class="btn btn-success col-3 offset-2">投稿する</button>
            <a class="btn btn-danger col-3 offset-2" href="../">キャンセル</a>
        </div>
    </form>
 </div>
</body>
