<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ユーザー登録</title>
        <meta name="description" content="横市生の悩み雑談えとせとらを解決">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <h1 class="tino">会員登録</h1>
        <form method="POST" action="{% url 'tips:create_account' %}">
            {% csrf_token %}
            <label>ユーザー名</label>
            {{ form.username }}
            <label>パスワード</label>
            {{ form.password1 }}
            <label>パスワード(再入力)</label>
            {{ form.password2 }}
           <button type = "submit"><span>会員登録</span></button>
        </form>
    </body>
    <footer class="er"> 
        <h1 class="foot">@nohakai2001 django-python</h1>
    </footer>
<html>