<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>YCU-TIPS rules</title>
        <meta name="description" content="横市生の悩み雑談えとせとらを解決">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <header class="page-header wrapper">
            <h1 class="logo"><a href="/">YCU-TIPS</a></h1>     
            <nav>
            <ul class="menubar">
                <li class="menu"><a href="/">戻る</a></li>
            </ul>
            </nav>
        </header>
        <main>
            <h1 class=important>利用される方へのお願い</h1>
            <ul>
               <li class="rulemenu">誹謗中傷をしない</li>
               <li class="rulemenu">荒らさない</li>
               <li class="rulemenu">のめりこまない</li>
            </ul>
              <h2><span class="last">以上最低限これだけは守りましょう</span></h2>
        </main>
        <footer class="er"> 
            <h1 class="foot">@nohakai2001 django-python</h1>
        </footer>
    </body>
</html>